In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_cleaned.csv')

In [3]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Price',
       'journey_day', 'journey_month', 'dep_time_hour', 'dep_time_min',
       'arrival_time_hour', 'arrival_time_min', 'Route 1', 'Route 2',
       'Route 3', 'Route 4', 'Route 5', 'Duration_hours', 'Duration_mins'],
      dtype='object')

In [4]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,journey_day,journey_month,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Route 1,Route 2,Route 3,Route 4,Route 5,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,0,3897,24,3,22,20,1,10,BLR,DEL,None,None,None,2,50
1,Air India,Kolkata,Banglore,2,7662,5,1,5,50,13,15,CCU,IXR,BBI,BLR,None,7,25
2,Jet Airways,Delhi,Cochin,2,13882,6,9,9,25,4,25,DEL,LKO,BOM,COK,None,19,0
3,IndiGo,Kolkata,Banglore,1,6218,5,12,18,5,23,30,CCU,NAG,BLR,None,None,5,25
4,IndiGo,Banglore,New Delhi,1,13302,3,1,16,50,21,35,BLR,NAG,DEL,None,None,4,45

In [6]:
df.shape

(10588, 18)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x = df.drop('Price',axis =1)
y = df['Price']

In [14]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=123)

In [18]:
selectbox = [col for col in x_train.columns if x_train[col].dtype == 'O']
selectbox

['Airline',
 'Source',
 'Destination',
 'Route 1',
 'Route 2',
 'Route 3',
 'Route 4',
 'Route 5']

In [16]:
slider = [col for col in x_train.columns if x_train[col].dtype != 'O']

In [17]:
slider

['Total_Stops',
 'journey_day',
 'journey_month',
 'dep_time_hour',
 'dep_time_min',
 'arrival_time_hour',
 'arrival_time_min',
 'Duration_hours',
 'Duration_mins']

In [ ]:
import

In [20]:
df['Total_Stops'].min()

0

In [21]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,journey_day,journey_month,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Route 1,Route 2,Route 3,Route 4,Route 5,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,0,3897,24,3,22,20,1,10,BLR,DEL,None,None,None,2,50
1,Air India,Kolkata,Banglore,2,7662,5,1,5,50,13,15,CCU,IXR,BBI,BLR,None,7,25
2,Jet Airways,Delhi,Cochin,2,13882,6,9,9,25,4,25,DEL,LKO,BOM,COK,None,19,0
3,IndiGo,Kolkata,Banglore,1,6218,5,12,18,5,23,30,CCU,NAG,BLR,None,None,5,25
4,IndiGo,Banglore,New Delhi,1,13302,3,1,16,50,21,35,BLR,NAG,DEL,None,None,4,45